@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Otomanopee+One&display=swap');

body {
  background-image: url("https://loveincorporated.blob.core.windows.net/contentimages/gallery/08afbe0f-350d-480d-9421-57274208714e-Black_forest_germany.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
* {
  font-family: 'Libre Baskerville', serif;
  color: rgb(199, 245, 173);
}